<h1>Stupid Coach</h1>
<div class = "maincontainer">
  <div class = "container">
    <p> <%= @search_term %> </p>
    <p> <%= "- You" %> </p>
  </div>
  <br>
  <div class = "container">
  <p> <%= @answer %> </p>
  <p> <%= "- Your coach" %> </p>
  </div>
</div>
<div>
<%= link_to "Ask a new question", ask_path %>
</div>
